{{! PARTIALS are like small components of the entire view/frontend which are inserted into another views. The naming convention is that they start with '_' & thus _add_btn.hbs
Note that this is also a view and will be wrapped inside the defaultLayout}}

<div class="fixed-action-btn">
  <a
    href="/stories/add"
    class="btn-floating btn-large waves-effect waves-light red"
  ><i class="fas fa-plus"></i></a>
</div>