{{! This is the defaultLayout which will wrap around all other views (except login view) to make our code more DRY }}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>SecretKeeper</title>
  </head>
  <body>

    {{!-- Insert the header & button partials here --}}
    {{> _header}}
    {{> _add_btn}}

    {{! wherever we want to output the views, which is obviously in the body, we mention it like }}
    <div class="container">
      {{{body}}}
    </div>

    <!-- Compiled and minified JavaScript -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    ></script>

    {{!-- CKeditor CDN --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.19.0/ckeditor.js" integrity="sha512-tjxUra6WjSA8H5+nC7G61SVqEXj1e958LdR4N8BGZeRx9tObm/YhsrUzY6tH4EuHQyZqOyu317pgV7f8YPFoAQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    {{!-- initialising the hamburger icon for it to work --}}
    {{!-- initialising the stories add form select menu for it to work --}}
    {{!-- initialising ck-editor. replace('body') bcz textarea in add.hbs has a "name=body" --}}
    <script>
      M.Sidenav.init(document.querySelector('.sidenav'))

      M.FormSelect.init(document.querySelector('#status'))

      CKEDITOR.replace('body', {
        plugins: 'wysiwygarea, toolbar, basicstyles, link'
      })
    </script>

  </body>
</html>