{{! This view isn't wrapped around by the defaultLayout main.hbs!
This login view uses the login layout & we tell it to do so using the special object
inside the route in index.js file }}
<h1>Login</h1>